<%- include("partials/header.ejs") %>

<section>
    <h1 contenteditable="true"><%= post.name %></h1>
    <p class="post-body" contenteditable="true"><%= post.body %></p>
    <a href="/" class="back-button">Back to Home</a>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="delete-button">Delete</button>
    </form>
</section>

<%- include("partials/footer.ejs") %>